body{
    background: url(../resource/bgimg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

div#input{
    background-color: rgba(0, 172, 234, 0.7 );
    margin: 10px;
    padding: 0px !important;
}

div.title{
    background-color: rgba(0, 172, 234, 0.76);
    height: 25px;
    padding: 5px;
}

div#data{
    padding: 5px;
    width: 100%;
}

div.newTask{
    width: 100%;
    padding: 10px;
}

label, input{
    margin: 5px;
}

label.inputLabel{
    display: inline-block;
    width: 35%;
}

#nwTaskDateTime, #nwTaskName{
    width: 60%;
}

#save{
    margin-left: 80%;
}

div#toDo{
    background-color: rgba(255, 255, 240, 0.9);
    margin: 10px;
    padding: 0px !important;
}

div#list>div{
    border: 1px solid rgb(49, 32, 5);
}

div#list>div>div{
    display: inline;
}

.col-xs-12{
    padding: 5px;
}

#mainContainer{
    
}