body{
    background-image: url(../resource/bgimg.jpg);
    background-repeat: no-repeat;
    background-Size : cover;
    padding: 10px;
}

div#input{
    background-color: rgba(0, 172, 234, 0.384);
    width: 500px;
    margin: 10px;
    position: absolute;
    top: 20%;
}

div.title{
    background-color: rgba(0, 172, 234, 0.76);
    height: 25px;
    padding: 5px;
}

div#data{
    padding: 5px;
    width: 100%;
}

div.newTask{
    width: 100%;
    padding: 10px;
}

label, input{
    margin: 5px;
}

label.inputLabel{
    display: inline-block;
    width: 30%;
}


#nwTaskDateTime, #nwTaskName{
    width: 60%;
}

#save{
    margin-left: 422px;
}

div#toDo{
    background-color: rgba(0, 172, 234, 0.384);
    width: 600px;
    margin: 10px;
    position: relative;
    top: 200px;
    float: right;
}

div#list>div{
    display: inline;
}
